{{outlet}}
<div class="tweet-container">
{{#each model as |tweet|}}
  <div class="tweet-message">
    {{tweet.message}}
    {{tweet.timestamp}}
  </div>
{{/each}}
</div>

{{link-to 'add another tweet' 'tweets.new'}}